
body{
    background-color: rgb(6, 78, 72);
}

h1{
    background-color: black;
    color: white;
    width: 280px;
    padding: 20px;
    margin: 40px auto;
    text-align: center;
}

.box{
    width: 560px;
    background-color: black;
    padding: 20px;
    margin: 20px auto;
    border: 10px solid red;
}

.box_1{
    max-width: 500px;
    background-color: aquamarine;
    font-size: 18px;
    padding: 20px;
    margin: 20px auto;
}